<!Doctype HTML>
<html>
    <% let rootPath = '../../../'; %>
    <% include(rootPath + 'views/layout/head'); %>
    <body>
        <% include(rootPath + 'views/layout/header'); %>
        <main>
            <h2>These are the books you saved. They say a lot about you...</h2>
            
        </main>
        <% include(rootPath + 'views/layout/footer'); %>
    </body>
</html>