body, main {
    text-align: center;
    width: 100%;
}

body{
    background-color:#76d04b;
    height: 100%;
    position: relative;
    width: 100%;
}

header, footer {
    background-color: rgb(49, 49, 49);
    color: rgb(230, 228, 228);
    height: 80px;
    width: 100%;
}

main {
    background-color: lightgrey;
    margin: 0 auto 0 auto;
    min-height: 100%;
    text-align: center;
    width: 480px;
}

.bookCard {
    background-color: rgb(49, 49, 49);
    border-radius: .2em;
    box-shadow: .05em .5em .2em rgb(87, 87, 87);
    color: rgb(230, 228, 228);
    margin: 1em auto 0 auto;
    width: 100%;
}

footer {
    bottom: 0;
    padding-top: 1px;
}
footer h2 {
    margin: 0 auto 0 auto;
}

.hidden {
    display: none;
}

input {
    display: block;
    margin: .2em auto;
}

.search {
    background-color: rgb(87, 87, 87);
    border-radius: .1em;
    color: rgb(230, 228, 228);
}

.search input:checked {
    background-color: rgb(255, 158, 11);
    border-radius: .5em;
    color: white;
    text-shadow: .05em .05em .01em rgb(87, 87, 87);
}