<!DOCTYPE html>
<html>
    <% let rootPath = '../../'; %>
    <%- include(rootPath + 'views/layout/head'); %>
    <body>
        <%- include(rootPath + 'views/layout/header'); %>
        <main>
            <h2>Something went wrong, and it's all your fault.</h2>
        </main>
        <%- include(rootPath + 'views/layout/footer'); %>
    </body>
</html>