<!DOCTYPE html>
<html>
    <% let rootPath = '../../'; %>
    <%- include(rootPath + 'views/layout/head'); %>
    <body>
        <%- include(rootPath + 'views/layout/header'); %>
        <main>
            <form action="/search" method="post">
                <input type="text" name="search" placeholder="Enter a Title or Author">
                <fieldset>
                    <label>
                        <span>Title</span>
                        <input type="radio" name="search" value="title" required>
                    </label>
                    <label>
                        <span>Author</span>
                        <input type="radio" name="search" value="author" required>
                    </label>
                </fieldset>
                <button type="submit">Search the google books API</button>
            </form>
            <%- include(rootPath + 'views/layout/bookCard', {books:books, resultsType:resultsType}); %>
        </main>
        <%- include(rootPath + 'views/layout/footer'); %>
    </body>
</html>