<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" media="screen" href="reset.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="base.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="icons.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="layout.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="modules.css"/>
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <header>  </header>
    <form action="/search" method="post">
        <input type="text" name="search" placeholder="Enter a Title or Author">
        <fieldset>
            <label for="title">
                <span>Title</span>
                <input type="radio" name="search" value="title" required>
            </label>
            <label for="author">
                <span>Author</span>
                <input type="radio" name="search" value="author" required>
            </label>
        </fieldset>
        <button type="submit">Search the google books API</button>
    </form>
</body>
</html>