<footer>
    <h2>Carlos, Jon and Rickles made this, before they were famous.</h2>
    <h2>dorpywrite twennerayedeen</h2>
    <p>   This is a demo book app.  The <b>paid</b> version will remove this footer. </p>
</footer>