<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" media="screen" href="reset.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="base.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="icons.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="layout.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="modules.css"/>
</head>