<form class="search" action="/search" method="post">
    <input type="text" name="search" placeholder="Enter a Title or Author">
    <fieldset>
        <label>Title<input type="radio" name="search" value="title" required></label>
        <label>Author<input type="radio" name="search" value="author" required></label>
    </fieldset>
    <button type="submit">Search for Books</button>
</form>